<%= @user.name %>, <%= @user.email %>

<div>
    <small>
        created_at: <%= @user.created_at %>,
        updated_at: <%= @user.updated_at %>
    </small>
</div>

<div>
    <small>
        The_time: <%= Time.now %>
    </small>
</div>